#roll{
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
}

#roll:hover{
    background-color: #e0e0e0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#dice_value{
    font-size: 48px;
    color: #333;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}