h1{
    color: rgb(4, 4, 62);
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 8rem;
    margin-top: 20px;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}